@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>The UI Scheduler brings you the ablility to prepare for your classes.</p>
</article>

<aside>
    <h3>Useful Links</h3>
    <ul>
        <li>@Html.ActionLink("ICON", "ICON", "Home")</li>
        <li>@Html.ActionLink("ISIS", "ISIS", "Home")</li>
        <li>@Html.ActionLink("Email", "Email", "Home")</li>
    </ul>
</aside>