@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        The UI Schduler will help you build your 4 year plan. Choose from one of our many tracks and pre-made EFA plans.
        Then use our track builder to search and move classes onto your plan. Our software will check and warn you about
        possible prerequiste and EFA conflicts.
    </p>
</article>

<aside>
    <h3>Useful Links</h3>
    <ul>
        <li>@Html.ActionLink("ICON", "ICON", "Home")</li>
        <li>@Html.ActionLink("ISIS", "ISIS", "Home")</li>
        <li>@Html.ActionLink("Email", "Email", "Home")</li>
    </ul>
</aside>