@{
    ViewBag.Title = "Home Page";
}
<h3>Welcome to the UI Scheduler</h3>

<aside>
    <h3>Useful Links</h3>
    <ul>
        <li>@Html.ActionLink("ICON", "ICON", "Home")</li>
        <li>@Html.ActionLink("ISIS", "ISIS", "Home")</li>
        <li>@Html.ActionLink("Hawk Mail", "Email", "Home")</li>
    </ul>
</aside>
    <ol class="round">
        <li class="one">
            <h5>Choose Your Track</h5>
            Start by selecting your prefered
            @Html.ActionLink("track", "Select", "Track") for your 4 year experience.
        </li>

        <li class="two">
            <h5>Choose Your EFA</h5>
            Narrow your plan of study by choosing an
            @Html.ActionLink("EFA", "EFA", "Track") from your chosen track.
        </li>

        <li class="three">
            <h5>Build Your 4 Year Plan</h5>
            Finally use our
            @Html.ActionLink("track builder", "TrackBuilder", "Track")
            to build your plan. The track builder will ensure the plan will meet the colleges requirements!
        </li>
    </ol>