@using UI_Scheduler_Tool.Maui
@model MauiBlockCollection
<div id="courseList">
    @if (Model.HasData)
    {
        <h1>@Model.Title (@Model.Hours sh)</h1>
        @*@if (Model.Lectures.Count > 0)
        {*@
            <table border="1" style="float:left;">
                <tr>
                    <th>Lectures</th>
                </tr>
                @foreach (var course in Model.Lectures)
                {
                    <tr>
                        <td class="left">@course.StartTime - @course.EndTime (@course.Recurence)</td>
                        <td class="left"><a href="https://isis.uiowa.edu/isis2/courses/details.page?id=@course.SectionId&ci=@course.CourseIdentityId">ISIS</a></td>
                    </tr>
                }
            </table>
        @*}
        @if (Model.Labs.Count > 0)
        {*@
            <table border="1" style="float:left;">
                <tr>
                    <th>Lab</th>
                </tr>
                @foreach (var course in Model.Labs)
                {
                    <tr>
                        <td class="left">@course.StartTime - @course.EndTime (@course.Recurence)</td>
                        <td class="left"><a href="https://isis.uiowa.edu/isis2/courses/details.page?id=@course.SectionId&ci=@course.CourseIdentityId">ISIS</a></td>
                    </tr>
                }
            </table>
        @*}
        @if (Model.Discussions.Count > 0)
        {*@
            <table border="1" style="float:left;">
                <tr>
                    <th>Discussion</th>
                </tr>
                @foreach (var course in Model.Discussions)
                {
                    <tr>
                        <td class="left">@course.StartTime - @course.EndTime (@course.Recurence)</td>
                        <td class="left"><a href="https://isis.uiowa.edu/isis2/courses/details.page?id=@course.SectionId&ci=@course.CourseIdentityId">ISIS</a></td>
                    </tr>
                }
            </table>
        //}
    }
    else
    {
        <h1>No Course Sections Found</h1>
    }
</div>